body{
  font-family: 'Ideal Sans A','Ideal Sans B',Helvetica,Arial,sans-serif;
}

ul li{
  list-style-type: none;
  font: inherit;
  font-size: 100%;
}




.FEATURED{
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;

}

.title-1{
  /* margin-top: 52px; */
  /* border-top-color: #b3b3b3; */
  /* float: left; */
  font-size: 20px;
}


.title-2{
  float: right;
  font-family: "Ideal Sans A","Ideal Sans B",Helvetica,Arial,sans-serif;
  color: #7e746d;;
  font-size: 16px;
}

/* .content{
	width:               1450px;
	padding-top:           5px;
	padding-bottom:        5px;
	margin-left:          auto;
	margin-right:         auto;
} */

.left{
  display: inline;
  width: 40%;
  min-width: 30%;
}

.word-1{
  width: 40%;
}

.picture-1{
  width: 40%;
}

.images{
  width: 60%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -420px;
}

.small-image-1{
  display: inline;
  width: 40%;
  margin-left: 40px;
}

.picture-2{
  width: 100%;
}

.small-image-2{
  display: inline;
  width: 40%;
  margin-left: 40px;
}

.picture-3{
  width: 100%;
}

.small-image-3{
  display: inline;
  width: 40%;
  margin-left: 40px;
}

.picture-4{
  width: 100%;
}
.small-image-4{
  display: inline;
  width: 40%;
  margin-left: 40px;
}

.picture-5{
  width: 100%;
}