body{
  font-family: 'Ideal Sans A','Ideal Sans B',Helvetica,Arial,sans-serif;
}

ul li{
  list-style-type: none;
  font: inherit;
  font-size: 100%;
}
.titleFEATURED{
  /* margin-top: 52px; */
  border-top-color: #b3b3b3;
}

.Blank{
  font-size: 100%;
}
