body{
  font-family: 'Ideal Sans A','Ideal Sans B',Helvetica,Arial,sans-serif;
}

ul li{
  list-style-type: none;
  font: inherit;
  font-size: 100%;
}




.FEATURED{
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;

}

.title-1{
  /* margin-top: 52px; */
  /* border-top-color: #b3b3b3; */
  /* float: left; */
  font-size: 20px;
}



.title-2{
  float: right;
  font-family: "Ideal Sans A","Ideal Sans B",Helvetica,Arial,sans-serif;
  color: #7e746d;;
  font-size: 16px;
}

.content{
  position: relative;
  /* display: table-row; */
  /* text-align: center;   */

}

.big-image{
  position: absolute; 
  left: 0;
  top: 0;
  width: 600px;
  height: 377px;
}

.small-image-1{
  /* position: relative; */
}


.image{
  display: block;
  float: right;
  margin: 0 10px 10px 0;
}

.picture-1{
  width:100%;
  height: auto;
  
}

